{% extends 'base.html' %}
{% load static %}
{% block content %}

<center>
    <h1>Add Product</h1>
    <br/><br/>

    <div class="container" enctype="multipart/form-data">
        {% if submitted %}
        Your Product Was Created Successfully!
        {% else %}
            <form action="" method="POST">
                {% csrf_token %}

                {{ pform.as_p }}

                <input type="submit" value="Submit" class="btn btn-secondary">

            </form>
        {% endif %}
    </div>



</center>

{% endblock %}